p {
  font-size: 1.8vw;
  font-weight: bold;
  font-family: 'Almarai', sans-serif;
}
.subtitle {
  font-size: 1.5vw;
}
@media (max-width: 1200px) {
  p {
    font-size: 8vw;
  }
  .subtitle {
    font-size: 6vw;
  }
}
